html {
  background-image: url_for("static", filename= "/img/Background.png");
}

#layout {
  background-image: url_for("static", filename= "/img/Background.png");
  background-color: rgb(255, 255, 255);
}

#page-container {
  position: relative;
  min-height: 140vh;
}

#content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Footer height */
}

/* Title Section */

.center {
  vertical-align: middle;
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

#symptoms ul {
  padding: 0px;
}
#symptoms li {
  float: left;
  width: 33%;
  list-style: outside none none;
}
