{%extends 'layout.html'%} {%block body%}
<section id="home">
    <div class="container" style="padding-top: 2rem">
        <h2 class="d-flex justify-content-center">Add a New Video</h2>
    </div>
</section>

<!-- <label>Date:</label><br>
    <input type="text" name="date" placeholder="Date"><br>
    -->

<form action="/add_video" method="POST">
    <label>Name:</label> <br>
    <input type="text" name="name" placeholder="Name"> <br>

    <label>Event Type:</label> <br>
    <input type="radio" id="ic" name="event_type" value="IC">
    <label for="ic">Intracloud</label>

    <input type="radio" id="cg" name="event_type" value="CG">
    <label for="cg">Cloud to Ground</label>

    <input type="radio" id="cc" name="event_type" value="CC">
    <label for="cc">Cloud to Cloud</label>

    <input type="radio" id="s" name="event_type" value="S">
    <label for="s">Spider</label>

    <input type="radio" id="u" name="event_type" value="U">
    <label for="u">Upward</label><br>


    <label>Video Duration:</label><br>
    <input type="text" name="duration" placeholder="Video Duration"><br>

    <label>Frames per Second:</label><br>
    <input type="number" name="fps" placeholder="FPS"><br>

    <label>Original FPS:</label><br>
    <input type="number" name="original_fps" placeholder="Original FPS"><br>

    <label for="Date">Date:</label><br>
    <input type="date" id="Date" name="date"><br>

    <label for="Time">Time of Video:</label><br>
    <input type="time" name="time" placeholder="Time"><br>

    <label>File Size:</label><br>
    <input type="number" name="size" placeholder="File size"><br>


    <label>Resolution:</label> <br>
    <input type="radio" id="4k" name="resolution" value="4k">
    <label for="4k">4K</label>

    <input type="radio" id="1080p" name="resolution" value="1080p">
    <label for="1080p">1080p</label><br>

    <label>S3 URL:</label><br>
    <input type="text" name="url" placeholder="URL"><br><br>

    <button type="submit">Submit</button>
</form>

{% endblock%}
