<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img
      src="{{ url_for('static', filename='../static/img/logofile.png') }}"
      class="logo-image"
      styles="width: 25px; height: 25px; margin-right: 10px"
    />
    Weather Tracker</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/live">New Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/archieve">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Create Account</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/liveview">Liveview</a>
      </li>
    </ul>
    <button
      class="btn text-dark btn-info"
      onclick="window.location.href='/login'"
      type="submit"
    >
      Login
    </button>
  </div>
</nav>
